@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;800&display=swap');

/* || Genereal */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-color: #61D9FA;
}

body {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  color: #B3B5A8;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ),url('./images/photo-1617994452722-4145e196248b.avif') center;
  overflow-x: hidden;
}

/* || Header */
header { 
  padding: 2em;
  background-color: #1C1C1C;
  position: sticky;
  top: 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-size: calc(1rem + 2vw);
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2.5em;
  height: 1.6em;
  padding: 0;
  color: #61D9FA;
  background-color: transparent;
  transition: color 250ms ease;

  position: absolute;
  top: 2.8em;
  right: 2em;
}

.nav-toggle:hover .hamburguer,
.nav-toggle:hover .hamburguer::before,
.nav-toggle:hover .hamburguer::after {
  background-color: #FFC957;
}

.hamburguer {
  position: relative;
  width: 100%;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  background-color: #61D9FA;
  display: block;
  height: .35em;
  border-radius: 5px;
}

.hamburguer::before,
.hamburguer::after {
  content: '';
  width: 100%;
}

.hamburguer::before {
  transform: translateY(-10px);
}

.hamburguer::after {
  transform: translateY(5px);
}

nav {
  visibility: hidden;
  background-color: #1C1C1C;
  opacity: .90;
  height: 16vh;
  text-align: center;
  position: absolute;
  top: 96px;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav.visible {
  visibility: visible;
}

/* a + a {
  margin-left: 1em;
} */

a {
  color: #61D9FA;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #FFC957;
}

a:link,
a:visited {
  color: #61D9FA;
}

/* || Main */
main {
  padding: 1em;
  /* border: 1px solid red; */
  min-height: 100vh;
}

/* || Homepage */
.homepage-div {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* || Get Song */
.song-div {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input { 
  text-align: center;
  padding: .25em;
  margin-right: 1em;
  margin-bottom: 1.5em;
}

.disclaimer-p {
  position: absolute;
  right: 5vw;
  bottom: -10%;
  font-size: .75rem;
}

.submit-btn {
  border: 0;
  border-radius: 5px;
  padding: .5em 1em;
  background-color: #FA9470;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #FFC957;
}

/* || Meet Team */
.meet-team-div {
  padding-bottom: 2em;
}

.meet-team-div h2 {
  color: #FFC957;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2em;
}

.teammate-div + .teammate-div {
  margin-top: 3em;
}

.emoji-div {
  background-color: #1C1C1C;
  width: 85px;
  height: 81px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.emoji-div p {
  align-self: center;
  text-align: center;
  font-size: 2rem;
}

.shane-div .emoji-div {
  background-color: #B3B5A8;
}

.alisha-div .emoji-div {
  background-color: #FA9470;
}

.thomas-div .emoji-div {
  background-color: #61D9FA;
}

.teammate-div p {
  /* max-width: 400px; */
  margin: 0 auto;
}

.teammate {
  color: #FFC957;
  font-size: 1.25rem;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) {
  .disclaimer-p {
    right: -25%;
  }

.nav-toggle {
  display: none;
}
}