@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;800&display=swap');

/* || Genereal */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Sarabun', sans-serif;
}

/* || Header */
header { 
  padding: 2em;
  background-color: #1C1C1C;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  margin-left: auto;
}

a + a {
  margin-left: 1em;
}

a {
  color: #61D9FA;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #fff;
}

/* || Homepage */
.homepage-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* || Get Song */
.song-div {

}

form input { 
  text-align: center;
  padding: .25em;
  margin-right: 1em;
  margin-bottom: 1.5em;
}

.disclaimer-p {
  position: relative;
  top: 100%;
}

.submit-btn {
  border: 0;
  border-radius: 5px;
  padding: .5em 1em;
  background-color: #FA9470;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #FFC957;
}

/* || Meet Team */
.meet-team-div h2 {
  color: #FFC957;
  font-size: 1.75rem;
  font-weight: 500;
}

.emoji-div {
  background-color: #1C1C1C;
  width: 85px;
  height: 81px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.emoji-div p {
  align-self: center;
  text-align: center;
  font-size: 2rem;
}

.shane-div .emoji-div {
  background-color: #FFC957;
}

.alisha-div .emoji-div {
  background-color: #FA9470;
}

.thomas-div .emoji-div {
  background-color: #61D9FA;
}

.teammate {
  color: #FFC957;
  font-size: 1.25rem;
}

.homepage-div,
.song-div,
.meet-team-div {
  height: 80vh;
}

@media screen and (min-width: 600px) {
  .disclaimer-p {
    right: -25%;
  }

.nav-toggle {
  display: none;
}
}