@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;800&display=swap');

/* || General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-color: #FFC957;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  color: #B3B5A8;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ),url('./images/bckg-img.jpg') center;  /* Photo by Pawel Czerwinski (https://unsplash.com/@pawel_czerwinski) on Unsplash (https://unsplash.com/) */
  overflow-x: hidden;
}

p {
  text-shadow: 2px 2px 2px #1C1C1C;
}

/* || Header */
header { 
  padding: 2em;
  background-color: #1C1C1C;
  position: sticky;
  top: 0;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-size: calc(1rem + 2vw);
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 2.5em;
  height: 1.6em;
  padding: 0;
  color: #61D9FA;
  background-color: transparent;
  transition: color 250ms ease;

  position: absolute;
  top: 2.8em;
  right: 2em;
}

.nav-toggle:hover .hamburguer,
.nav-toggle:hover .hamburguer::before,
.nav-toggle:hover .hamburguer::after {
  background-color: #FFC957;
}

.hamburguer {
  position: relative;
  width: 100%;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  background-color: #61D9FA;
  display: block;
  height: .35em;
  border-radius: 5px;
}

.hamburguer::before,
.hamburguer::after {
  content: '';
  width: 100%;
}

.hamburguer::before {
  transform: translateY(-10px);
}

.hamburguer::after {
  transform: translateY(5px);
}

nav {
  visibility: hidden;
  display: none;
  background-color: #1C1C1C;
  opacity: .95;
  height: 20vh;
  text-align: center;
  position: absolute;
  top: 96px;
  right: 0;
  left: 0;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav.visible {
  visibility: visible;
}

.nav-link {
  color: #61D9FA;
  text-decoration: none;
  transition: transform .2s linear;
}

.nav-link:hover,
.nav-link:focus {
  color: #FFC957;
  transform: scale(1.25);
}

/* || Main */
main {
  min-height: 100vh;
}

/* || Homepage */
.homepage-div {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 2px #1C1C1C;
  padding: 0 1em;
}

.homepage-div h1 span {
  color: #FFC957
}

/* || Get Song */
.song-div {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
}

form input { 
  text-align: center;
  padding: .25em;
  margin-right: 1em;
  margin-bottom: 1.5em;
}

.disclaimer-p {
  position: absolute;
  right: 3vw;
  bottom: -15%;
  font-size: .75rem;
}

.submit-btn {
  border: 0;
  border-radius: 25px;
  padding: .5em 1em;
  background-color: #FA9470;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #FFC957;
}

/* || Meet Team */
.meet-team-div {
  padding: 0 1em 3em;
  min-height: 80vh;
}

.meet-team-div h2 {
  color: #FFC957;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 2em;
  padding-top: 1.5em;
}

.teammate-div + .teammate-div {
  margin-top: 3em;
}

.teammate-div p {
  margin: 0 auto;
  font-size: 1.25rem;
}

.emoji-div {
  background-color: #1C1C1C;
  width: 85px;
  height: 81px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.emoji-div p {
  align-self: center;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 1px #1C1C1C;
}

.shane-div .emoji-div {
  background-color: #B3B5A8;
}

.alisha-div .emoji-div {
  background-color: #FA9470;
}

.thomas-div .emoji-div {
  background-color: #61D9FA;
}

.teammate {
  color: #FFC957;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* || Footer */
footer {
  background-color: #1C1C1C;
  height: 10vh;
}

/* || 404 Page */
.error-div {
  min-height: 100vh;
  background: url('./images/404-img.jpg') center no-repeat;  /* Photo by Ali Saadat (https://unsplash.com/@camsaadat) on Unsplash (https://unsplash.com/) */
  background-size: cover;
}

.error-div p {
  margin-top: 0;
  padding-top: 10vh;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .disclaimer-p {
    right: -25%;
  }

  .nav-toggle {
    display: none;
  }
}